:root {
    --bgcolor: rgb(183, 189, 209);
    --color: rgb(93, 104, 150);
    --highlights: rgb(59, 66, 95);
    --text-white: aliceblue;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #dbdada;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}
header {
    background-color: var(--bgcolor);
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
h1 {
    text-align: center;
    align-content: center;
}

    /** show copy success  */
.copy-success {
    opacity: 0;
    transition: opacity 1s ease;
    background-color: rgb(43, 214, 43);
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
}
.show {
    opacity: 1;
}

.highlight {
    color: red;
}
.mainContainer {
        margin: 20px auto 70px;  
        max-width: 1600px;
        min-height: 600px;
        /* background-color: red; */
        padding: 20px;
}
.container {
    position: relative;
    margin: 0px auto;  
    background: var(--bgcolor);
    max-width: 1500px;
    min-height: 600px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto-fit 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 750px));
    place-items: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 40px;
}
#trash, #paste {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    bottom: 10px;
}
#trash {
    right: 25px;
}
#paste {
    left: 25px;
}

.how {
    /* background-color: red; */
    min-height: 400px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 100px;
    background-color: var(--bgcolor);
    padding: 60px 0px 60px 0px;
}
  
.howContainer {
    min-height: 300px;
    max-width: 1500px;
    width: 100%; 
    margin: 0px 40px 0px 40px;
    font-weight: 500;
}
.howContainer p {
    padding-left: 15px;
}
.howContainer img {
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}
  
.p1, .p2{
    position: relative;
    top: 2px;
    font-weight: 600;
    justify-self: left;
    left: 25px;
}
textarea {
    position: relative;
    align-self: stretch;
    justify-self: stretch;
    margin: 0 20px;
    resize: none;
    height: 500px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    outline: none;
    padding-right: 50px;
    margin-top: 40px;
}
textarea::placeholder {
    opacity: 1;
    transition: all 1.3s ease;
}
textarea:focus::placeholder {
    opacity: 0.2;
}
button {
    justify-self: stretch;
    margin: 0 20px;
    height: 40px;
    background-color: var(--color);
    color: var(--text-white);
    border-radius: 0 0 10px 10px;
    font-size: 17px;
    transition: all 0.3s ease;
}
button:hover {
    background-color: var(--highlights);
    font-size: 20px;
}
.details {  
    background-color: var(--bgcolor);
    max-height: 500px;
}
.grid {
    font-weight: 600;
    min-height: 200px;
    width: 80%;
    margin: 0 auto;
    /* background-color: green; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-template-rows: auto-fit;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    /* justify-items: center; */
    align-items: center;
    
}
.contacts a, .socials a, .creator a {
    text-decoration: none;
    color: rgb(35, 35, 35);
}
.about, .contacts, .socials, .creator {
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
}



@media (max-width: 500px) {
    .mainContainer {
        /* // wjkhkdada */
        
    }
    .container {
        max-width: 400px;
    }
    textarea {
        height: 200px;
        font-size: 15px;
    }
    button:hover {
        font-size: 17px;
    }
    button {
        font-size: 15px;
    }
    #trash, #paste {
        font-size: 15px;
    }
    .howContainer img {
        max-width: 300px;
        height: auto;
    }
}