:root {
    --bgcolor: rgb(183, 189, 209);
    --color: rgb(93, 104, 150);
    --highlights: rgb(59, 66, 95);
    --text-white: aliceblue;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f0f0f0;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
header {
    background-color: var(--bgcolor);
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
h1 {
    text-align: center;
    align-content: center;
}
span {
    color: red;
}
.container {
    position: relative;
    background: var(--bgcolor);
    max-width: 1500px;
    min-height: 600px;
    margin: 100px auto 90px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto-fit 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 750px));
    place-items: center;
    justify-content: center;
    align-content: center;
    padding-bottom: 40px;
}
i {
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 20px;
}
.container p{
    position: relative;
    top: 2px;
    left: 25px;
    font-weight: 600;
    justify-self: left;
}
textarea {
    position: relative;
    align-self: stretch;
    justify-self: stretch;
    margin: 0 20px;
    resize: none;
    height: 500px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 10px 10px 0 0;
    outline: none;
    padding-right: 50px;
    margin-top: 40px;
}
textarea::placeholder {
    opacity: 1;
    transition: all 1.3s ease;
}
textarea:focus::placeholder {
    opacity: 0.2;
}
button {
    justify-self: stretch;
    margin: 0 20px;
    height: 40px;
    background-color: var(--color);
    color: var(--text-white);
    border-radius: 0 0 10px 10px;
    font-size: 17px;
    transition: all 0.3s ease;
}
button:hover {
    background-color: var(--highlights);
    font-size: 20px;
}
footer {
    background-color: var(--bgcolor);
    position: relative;
    bottom: 0;
    margin-top: 30px;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    padding-left: 30px;
    font-weight: 600;
}